<div class="row">
    <app-header></app-header>

    <router-outlet></router-outlet>

    
    <!-- <app-main></app-main> -->
    <!-- <app-inscription></app-inscription> -->
    <!-- <app-connection></app-connection> -->
    
    <!-- <app-titre-les-collections></app-titre-les-collections>
    <app-les-collections class="col-md-4 mb-5" *ngFor="let collection of listCollection" [collection]="collection" ></app-les-collections> -->
    
    <!-- <app-titre-card-objet></app-titre-card-objet>
    <app-card-objet></app-card-objet> -->
    
    
    
    <!-- <app-forum></app-forum> -->
    
    <!-- <app-titre-ma-collection></app-titre-ma-collection>
    <app-ma-collection></app-ma-collection>
    <app-form-add-objet></app-form-add-objet> -->
    
    <!-- <app-mes-collections></app-mes-collections>
    <app-form-add-collection></app-form-add-collection> -->
    
    <!-- <app-info-vendeur></app-info-vendeur> -->
    <!-- <app-contact></app-contact> -->

    <app-footer></app-footer>
</div>
