<app-header></app-header>

<!-- <app-main></app-main> -->
<!-- <app-inscription></app-inscription> -->
<!-- app-connection></app-connection> -->
<!-- <app-les-collections></app-les-collections> -->
<!-- <app-card-objet></app-card-objet> -->
<!-- <app-contact></app-contact> -->


<!-- <app-forum></app-forum> -->

<!-- <app-ma-collection></app-ma-collection>
<app-form-add-objet></app-form-add-objet> -->

<!-- <app-mes-collections></app-mes-collections>
<app-form-add-collection></app-form-add-collection> -->

<!-- <app-info-vendeur></app-info-vendeur> -->

<app-footer></app-footer>