<div *ngIf="selectedObject" class="test container px-4 px-lg-5">
  <div class="gx-lg-5">
    <div class="mb-5">
      <div class="card">
        <div class="card-body">
          <div class="divimg">
            <img class="rounded" src="{{ selectedObject.image }}" alt="" />
          </div>
          <div class="card-body">
            <p class="card-text">
              L'objet est dans un état : {{ selectedObject.etat.nom }}.
              <br>
              <br>
              <span>Description :</span>
              <br>
               {{ selectedObject.description }}
            </p>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a routerLink="/info-vendeur" class="lookbt color btn btn-sm" href="#!">
            {{ selectedObject.prixVente }} €
          </a>
          <a class="lookbt color btn btn-sm" href="javascript:history.back()"
            >Retour</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
