

  .scroll {
    max-height: 10rem;
    overflow-y: scroll;
  }

  .divimg {
    height: 15rem;
    width: 100%;
    background-color: red;
    border: 2px #aaa solid;
  }

  .color {
    background-color: rgb(243, 243, 98);
  }