


  .divimg {
    height: 18rem;
    width: 100%;
    border: 2px #aaa solid;
  }

  .color {
    background-color: rgb(243, 243, 98);
  }

  img {
    height: 100%;
    width: auto;
  }

  h2 {
    font-size: 1.2rem;
  }