
<div class="container px-4 px-lg-5">
    <!-- Call to Action-->
    <div class="card titre text-white my-5 py-4 text-center fs-2">
      <div class="card-body">
        <p class="text-white m-0">Nom de la collection</p>
      </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Card One</h2>
          </div>
          <div class="divimg card-body">
            <img src="" alt="">
          </div>
          
            <div class="card-footer d-flex justify-content-between">
              <a class="color btn btn-sm" href="#!">Info</a>
              <a class="color btn btn-sm" href="#!">Modifier</a>
            </div>
            
          
        </div>
      </div>
    </div>
  </div>



  
  