

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Informations du Vendeur
        </div>
        <div class="card-body">
            <h5 class="card-title">Nom du Vendeur</h5>
            <p class="card-text">John Doe</p>

            <h5 class="card-title">Adresse Email</h5>
            <p class="card-text">john.doe@example.com</p>

            <h5 class="card-title">Téléphone</h5>
            <p class="card-text">123-456-7890</p>
        </div>
    </div>
</div>
<br>



