
<nav class="navbar bg-black navbar-expand-lg navbar-dark sticky-top">
  <div class="container px-5">
    <a class="logoh navbar-brand" href="#!"
      ><img src="../../../assets/images/logo.png" alt="logo"
    /></a>
    <p class="text-white sup">ZingCollect</p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!">Accueil</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!"></a></li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Collections
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mes Collections</a></li>
              <li><a class="dropdown-item" href="#">Les Collections</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Forum</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Mon compte</a></li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Connection
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Inscription</a></li>
              <li><a class="dropdown-item" href="#">Connexion</a></li>
              <li><a class="dropdown-item" href="#">Déconnection</a></li>
            </ul>
          </div>
        </li>
      </ul >
      
    </div>
   
  </div>
</nav>

<div class="blocDesc">
  <section class="desc sup">
    ZingCollect est une plateforme en ligne qui permet aux passionné de
    collection de partager leur collection à travers une bibliothèque de photos.
    Vous pouvez créer des collections virtuels pour les organiser par thèmes.
    ZingCollect vise à offrir une expérience simple et conviviale pour célébrer
    et partager la passion des objets de collection.
  </section>
</div>
