.blocDesc {
  background-color: rgb(243, 243, 98, 0.5);
}

.desc {
  padding: 2rem 2rem;
  font-size: 1.5rem;
  text-align: justify;
}

.logoh {
  height: 100px;
  width: 100px;
}

.logoh img {
  height: 100%;
  width: 100%;
}
.cont {
  font-size: 1.7rem;
  margin-left: 1rem;
}

.cont a {
  color: white;
}

.marge {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .sup {
    display: none;
  }
}
