.titre {
  background-color: rgba(0, 0, 0, 0.2);
}

.scroll {
  max-height: 10rem;
  overflow-y: scroll;
}

.divimg {
  height: 15rem;
  width: 100%;
}

.color {
  background-color: rgb(243, 243, 98);
}

img {
  height: 100%;
  width: 100%;
}

.desc {
  height: 5rem;
}

.nom {
  font-size: 1.3rem;
}
