/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FFD90F ;
    color: #000;
    background-image: url(./assets/images/ImageBack.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    margin: auto;
}