/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FFD90F ;
    color: #000;
    background-image: url(./assets/images/ImageBack.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    margin: auto;
}

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.lookbt {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}