  .scroll {
    max-height: 10rem;
    overflow-y: scroll;
  }

  .divimg {
    height: 15rem;
    width: 100%;
    border: 2px #aaa solid;
  }

  .color {
    background-color: rgb(243, 243, 98);
  }

  img {
    height: 100%;
    width: 100%;
  }

  .desc {
    height: 10rem;
  }