<div class="container px-4 px-lg-2">
    <div class=" gx-4 gx-lg-5">
      <div class="">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{collection?.nom}}</h2>
          </div>
          <div class="divimg card-body">
            <img class="rounded " src="{{collection?.image}}" alt="">
          </div>
          <div class="desc card-body scroll">
            <p class="card-text">
              {{collection?.description}}
            </p>
          </div>
          <div class="card-footer">
            <a class="color btn btn-sm" href="#!">Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  